@page "/"

<h2>Lista de eventos</h2>


@foreach (var ev in events.Select((value, index) => new { value, index }))
{
    <EventCard EventName="@ev.value.Name"
               EventDate="@ev.value.Date"
               EventLocation="@ev.value.Location" />

    <!-- Enlace de navegación con el id dinámico -->
    <a href="/eventdetails/@(ev.index + 1)">Ver detalles</a>
    <br />
}

@code {
    private List<EventModel> events = new() {
        new EventModel { Name="Conferencia Tech", Date=DateTime.Now.AddDays(5), Location="Barcelona" },
        new EventModel { Name="Networking Empresarial", Date=DateTime.Now.AddDays(10), Location="Madrid" }
    };
}