@page "/"
@using EventEase.Models

<h2>Lista de eventos</h2>

<Virtualize Items="events" Context="ev">
    <EventCard EventName="@ev.Name" EventDate="@ev.Date" EventLocation="@ev.Location" />
    <a href="@($"/eventdetails/{events.IndexOf(ev) + 1}")">
    Ver detalles
    </a>
</Virtualize>

@code {
    private List<EventModel> events = Enumerable.Range(1, 1000).Select(i =>
    new EventModel { Name=$"Evento {i}", Date=DateTime.Now.AddDays(i), Location="Madrid" }
    ).ToList();
}